{{ define "header" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
  <article class="container">

    

    <section class="nested-copy-line-height lh-copy serif f4 nested-links nested-img mid-gray pr4-l w-two-thirds-l">
      {{- .Content -}}

    </section>
  </article>
  <time class="tracked container" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
    {{- .Date.Format "January 2, 2006" -}}
  </time>
{{ end }}
